@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque");

:root {
  --background-color: #fff6ef;
  --initial-deg: 0deg;
}

body {
  background-color: var(--background-color);
  font-family: "Brandon Grotesque", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes jiggle {
  0%,
  100% {
    transform: rotate(var(--initial-deg, 0));
  }
  25% {
    transform: rotate(calc(var(--initial-deg, 0) - 3deg));
  }
  50% {
    transform: rotate(calc(var(--initial-deg, 0) + 3deg));
  }
  75% {
    transform: rotate(calc(var(--initial-deg, 0) - 3deg));
  }
}

.animate-jiggle {
  animation: jiggle 1s ease-in-out infinite;
}
